

<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>BTF Pro</title>
    <link rel="stylesheet" type="text/css" href="Styles/Main.css" />
    <link href="Styles/style.css" rel="stylesheet" type="text/css" />
    <!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" type="text/css" href="Css/ie.css">
    <![endif]-->
    <!--[if lte IE 7]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script><![endif]-->
    <!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" media="all" href="css/ie6.css"/><![endif]-->
<script type="text/javascript" src="analytics.js"></script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="Scripts/slides.min.jquery.js" type="text/javascript"></script>
    <script src="Scripts/MenuScripts/hoverIntent.js" type="text/javascript"></script>
    <script type="text/javascript">
        var RecaptchaOptions = {
            theme: 'custom',
            custom_theme_widget: 'recaptcha_widget'
        };
    </script>
    <style type="text/css">
        DIV#slideshowproboxwrapper
        {
            overflow: hidden;
            margin: 0px auto;
            background-color: #fff;
        }
        .slideshowprobox ul li
        {
            list-style: none;
            display: block;
        }
        .slideshowprobox li img
        {
            margin-right: 2px;
            width: 100%;
            height: 100px;
        }
    </style>
</head>
<body id="index" class="home">
    <header>
  <hgroup>
    <h1><a href="default.html">BTF Pro</a></h1>
    <h2><span style="color:#c71d22">BTF Pro</span> Inc</span></h2>
    <div class="clear"></div>
    <h6>Passion, Innovation & Service</h6>
    <div class="login-box">
      <div class="float-left"><img src="Images/login-curve.png" alt="login curve"> </div>
      <div class="login-bg float-left"><a href="Login.html">Sign In</a> | <a href="Register.html">Register</a></div>
      <div class="float-left"><img src="Images/login-curve-rgt.png" alt="login curve"></div>
    </div>
    <div class="clear"></div>
    <div class="top-links"><a href="default.html">Home</a>|<a href="Clients.html">Clients</a>|<a href="ContactUs.html">Contact Us</a></div>
  </hgroup>
  <nav>
    <div id="page-wrap">
      <div class="mainmenu-curve float-left"><img src="Images/menu-curve.png" alt="menu curve" width="60" height="33"></div>
      <div class="float-left">
        <ul class="dropdown">
          <li><a href="AboutUs.html">About Us</a>
          <ul class="sub_menu">
 				<li><a href="AboutUs-profile.html">Profile</a></li>
          		<li><a href="AboutUs-values.html">Values</a></li>
            </ul>
          </li>
          <li><a href="Services.html">Services</a>
            <ul class="sub_menu">
              <li><a href="Services-Staffing.html">Staffing</a></li>
              <li><a href="Services-ITConsulting.html">IT  Consulting</a></li>
              <li><a href="Services-ApplicationSer.html">Application Services</a></li>
              <li><a href="Services-TestingSer.html">Testing Services</a></li>
              <li><a href="Services-InformationMgt.html">Information Mgt</a></li>
            </ul>
          </li>
          <li><a href="Technology.html">Technologies</a>
            <ul class="sub_menu">
              <li> <li><a href="Technology-Java.html">JAVA</a></li> 
          <li><a href="Technology-SOA.html">SOA</a></li>
          <li><a href="Technology-Web2.html">Web 2.0</a></li>
          <li><a href="Technology-Integration.html">Integration & Testing</a></li>
          <li><a href="Technology-Cloud.html">Cloud & SAAS</a></li>
            </ul>
          </li>
           <li><a href="Products.html">Products</a></li> <li><a href="Careers.html" class="last">careers</a>
            <ul class="sub_menu last">
              <li><a href="Careers-JobListings.html">Job Listings</a></li>
      <li><a href="Careers-CurrentHirings.html">Currently Hiring</a></li>
            </ul>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </nav>
</header>
    
    <div id="page-header">
        <div class="lft-curve">
        </div>
        <div class="mid">
            <h1>
                <a href="AboutUs.html">About Us</a><span class="pageheader-child"> > Values</span></h1>
        </div>
        <div class="rgt-curve ">
        </div>
        <div class="clear">
        </div>
    </div>
    <section id="inner-main-content">
  <aside id="side-menu">
    <ul>
      <li><a href="AboutUs-profile.html">Profile</a></li>
      <li><a href="AboutUs-values.html" class="current">Values</a></li>
    </ul>
  </aside>
  <section id="inner-content">
    <p class="para-head">"We put our customer's success first"</p>
    <p>- Create solutions based on our customer's needs and objectives, not ours.</p>
    <p class="para-head">"We commit and deliver solutions with passion"</p>
    <p>- Make clear and explicit commitments, and do whatever it takes to deliver on them with a level of passion and commitments our clients have never seen before.</p>
    <p class="para-head">"We embrace new things and new ways of thinking"</p>
    <p>- Innovate by creating new sources of value and taking thoughtful risks and experiment to find better answers that yield better results.</p>
    
    <p class="para-head">"We challenge Assumptions"</p>
    <p>- Understand the Why behind things and drive change when the why no longer makes sense.</p>
    <p>We focus, Inspire, Motivate and grow our clients and ourselves to achieve exceptional results.</p>
    <p>We promote, recognize and reward based on performance, potential and commitment to our values.</p>
    <p class="para-head">"We actively develop others"</p>
    <p>- Teach continuously by coaching , mentoring positive reinforcement, knowledge sharing and by setting good example.
      We build trust, act with integrity and work collaboratively.</p>
    <br>
    <h3>We work hard, smart & have fun.</h3>
  </section> <aside class="float-right">
  
<div id="side-bar">
    <h2>
        Clients</h2>
    <div class="moduletable">
        <script type="text/javascript">

            jQuery(document).ready(function () {
                jQuery(".slideshowprobox").jCarouselLite({ auto: 4, speed: 1500, visible: 1, vertical: true, hoverPause: true });
            });

        </script>
        <div class="JT-ClearBox">
        </div>
        <div id="slideshowproboxwrapper">
            <div class="slideshowprobox">
                <ul>
                    <li><a href="../Clients.html"><img src="./Images/Clients/aricent.jpg" border="0" /></a></li>
                    <li><a href="../Clients.html"><img src="./Images/Clients/cigna.jpg" border="0" /></a></li>
                    <li><a href="../Clients.html"><img src="./Images/Clients/delta.jpg" border="0"/></a></li>
                    <li><a href="../Clients.html"><img src="./Images/Clients/farmers.jpg" border="0"/></a></li>
                    <li><a href="../Clients.html"><img src="./Images/Clients/jpmorgan.jpg" border="0"/></a></li>
                    <li><a href="../Clients.html"><img src="./Images/Clients/nodal.jpg" border="0"/></a></li>
                    <li><a href="../Clients.html"><img src="./Images/Clients/paychex.jpg" border="0"/></a></li>
                    <li><a href="../Clients.html"><img src="./Images/Clients/setmetrix.jpg" border="0"/></a></li>
                    <li><a href="../Clients.html"><img src="./Images/Clients/a.jpg" border="0"/></a></li>
                    <li><a href="../Clients.html"><img src="./Images/Clients/casenet.jpg" border="0"/></a></li>
                    <li><a href="../Clients.html"><img src="./Images/Clients/ccpace.jpg" border="0"/></a></li>
                    <li><a href="../Clients.html"><img src="./Images/Clients/cisco.jpg" border="0"/></a></li>
                </ul>
            </div>
        </div>
        <div class="JT-ClearBox">
        </div>
        <script type="text/javascript">jQuery.noConflict();</script>
    </div>
</div>
<div class="clear">
</div>
<div id="side-bar">
    <h2>
        Vision</h2>
    <p class="quot-mark">
        To be the best in providing innovative & cost effective Information technology products
        and solutions that create value to all stakeholders – Customers, Investors, Employees
        and Partners</p>
</div>
<div class="clear">
</div>
<div id="side-bar">
    <h2>
        Management Team</h2>
    <p>
        <strong>We are, above all, a people company</strong> - a company founded and led
        by professionals in the information technology industry. As new technologies emerge
        in the business application landscape, we help the business communities assimilate
        them into their system.
    </p>
</div>
<div class="clear">
</div>

    <div id="side-bar">
      <h2>Advantage</h2>
      <p>At BTF Pro, we are making technology a transparent interface for the companies so that they can focus on their competitive priority. We derive our inspiration by engaging the spirit, intellect, and energy of our clients and our highly motivated and result oriented portfolio of technology specialists.</p>
      <p>We are able to deliver state-of-the-art solutions due to our consultant pool. Our exhaustive recruiting process helps us house the best available talent in the selected field. All of our specialists posses excellent technical skills along with solid inter-personal skills. We use structured methodologies and proven techniques in all of our services to deliver world-class service.</p>
    </div>
  </aside>
  <div class="clear"></div>
</section>

    <footer id="footer">
  <div id="footer-wrapper">
    <div class="footer-mast">
      <div class="copyrights float-left"> &copy <script>document.write(new Date().getFullYear())</script> BTF Pro. All Rights Reserved.</div>
      <div class="float-right">
        <div class="curve float-left"></div>
        <div class="footer-menu float-left"><a href="default.html">Home</a> | <a href="Products.html">Products</a> | <a href="Events.html">Events</a> | <a href="News.html">News</a> | <a href="ContactUs.html">Contact Us</a></div>
        <div class="curve-rgt float-left"></div>
      </div>
      <div class="clear"></div>
    </div>
    <section id="sections-wrapper">
      <section class="footer-sec">
        <h5>About Us</h5>
        <ul>
           <li><a href="AboutUs-profile.html">Profile</a></li>
          <li><a href="AboutUs-values.html">Values</a></li>
        </ul>
      </section>
      <section class="footer-sec">
        <h5>services</h5>
        <ul>
          <li><a href="Services-Staffing.html">Staffing</a></li>
              <li><a href="Services-ITConsulting.html">IT  Consulting</a></li>
              <li><a href="Services-ApplicationSer.html">Application Services</a></li>
              <li><a href="Services-TestingSer.html">Testing Services</a></li>
              <li><a href="Services-InformationMgt.html">Information Mgt</a></li>
        </ul>
      </section>
      <section class="footer-sec">
        <h5>technology</h5>
        <ul>
          <li><a href="Technology-Java.html">JAVA</a></li> 
          <li><a href="Technology-SOA.html">SOA</a></li>
          <li><a href="Technology-Web2.html">Web 2.0</a></li>
          <li><a href="Technology-Integration.html">Integration & Testing</a></li>
          <li><a href="Technology-Cloud.html">Cloud & SAAS</a></li>
        </ul>
      </section>
      <section class="footer-sec">
        <h5>careers</h5>
        <ul>
          <li><a href="Careers-JobListings.html">Job Listings</a></li>
      <li><a href="Careers-CurrentHirings.html">Currently Hiring</a></li>
        </ul>
      </section>
      <section class="footer-sec-last social-net">
        <h5>Follow Us...</h5>
        <ul>
          <li><a href="#"><img src="Images/fb-icon.png" alt="Facebook icon" width="32" height="32" title="Follow us on Facebook"></a></li>
          <li><a href="#"><img src="Images/email-icon.png" alt="Email icon" width="32" height="32" title="Email Us"></a></li>
          <li><a href="#"><img src="Images/tweeter-icon.png" alt="Twitter icon" width="32" height="32" title="Follow us on Twitter"></a></li>
        </ul>
      </section>
      <div class="clear"></div>
    </section>
  </div>
</footer>
</body>
<script src="Scripts/jquery-1.4.1.js" type="text/javascript"></script>
<script src="Scripts/jcarousellite_1.0.1c4.js" type="text/javascript"></script>
<script src="Scripts/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="Scripts/jquery.easing.compatibility.js" type="text/javascript"></script>
<script type="text/javascript">    jQuery.noConflict();</script>
<script src="Scripts/slides.min.jquery.js" type="text/javascript"></script>
<script src="Scripts/MenuScripts/hoverIntent.js" type="text/javascript"></script>
</html>