<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Vamana Systems Inc | Developing | Training | Placements | Staffing</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/plugin.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="rs-plugin/css/settings.css" rel="stylesheet">
    <link href="rs-plugin/css/captions.css" rel="stylesheet">

    <script src="js/jquery.js"></script>

    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
    <div id="wrap">
        <header id="header">
<div id="topbar">
<div class="container">
<div class="row">
<div id="callus" class="col-md-6 col-sm-6">
<div class="clearfix hidden-xs">
<span><i class="fa fa-phone icon-left"></i>Call us: 8474547940</span>
<span class="hidden-sm"><i class="fa fa-envelope icon-left"></i>Email: <a class="__cf_email__" href="mailto:info@vamanasystems.com" data-cfemail="">info@vamanasystems.com</a></span>
</div>
</div> 
<div id="social" class="col-md-6 col-sm-6 hidden-xs">
<ul class="social bottom-0 list-unstyled clearfix">
<li class="linkedin"><a href="" data-placement="bottom" data-toggle="tooltip" title="">REACH US</a></li>

<li class="facebook"><a href="#" data-placement="bottom" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
<li class="twitter"><a href="#" data-placement="bottom" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
<li class="googleplus"><a href="#" data-placement="bottom" data-toggle="tooltip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
</ul>
</div> 

</div> 
</div> 
</div> 
<div id="mainheader" class="fixedheader">
<div class="container">
<div class="logo-area">
<h1 class="logo">
<a href="index.html"><img src="images/vamana.jpg" alt="" width="174" height="43"></a>
</h1>
</div> 
<div class="site-menu right-solid visible-lg visible-md">
<nav>
<ul class="sf-menu bottom-0 list-unstyled clearfix">
<li class="menu-normal has-icon current-menu-item">
<a href="index.html"><span class="icon"><i class="fa fa-home"></i></span>Home</a>

</li>
<li class="menu-normal has-icon ">
<a href="about-vamana.html"><span class="icon"><i class="fa fa-file-o"></i></span>About Us</a>

</li>
<li class="menu-normal has-icon">
<a href="developing.html"><span class="icon"><i class="fa fa-lightbulb-o"></i></span>Developing</a>
</li>
<li class="menu-mega has-icon">
<a href="staffing-services.html"><span class="icon"><i class="fa fa-file-text"></i></span>Staffing</a>

</li>
<li class="menu-mega has-icon">
<a href="contat-vamana.html"><span class="icon"><i class="fa fa-briefcase"></i></span>Contact US</a>

</li>
</ul>
</nav>
</div> 
 
<a href="#mobile-menu" class="reponsive-menu visible-xs visible-sm button pull-right color"><i class="fa fa-bars"></i></a>
</div> 
</div> 
</header>
        <section id="slide">
 
<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" style="background-color:#E9E9E9;padding:0px;">
<div id="rev_slider_1_1" class="rev_slider fullscreenbanner" style="display:none;">
<ul>
 
<li data-transition="random-static" data-slotamount="7" data-masterspeed="300">
 
<img src="images/slider/Banner-11.jpg" alt="Banner-11" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
 
 
<div class="tp-caption sfb" data-x="62" data-y="10" data-speed="600" data-start="600" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 2">
<img src="images/slider/slide_1_1.png" alt="">
</div>
 
<div class="tp-caption small_lato sft tp-resizeme" data-x="710" data-y="220" data-speed="300" data-start="1000" data-easing="Power3.easeInOut" data-endspeed="500" style="z-index: 3">
Welcome to
</div>
 
<div class="tp-caption large_blue randomrotate tp-resizeme" data-x="600" data-y="250" data-speed="500" data-start="1500" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 4">
Vamana Systems, Inc
</div>
 
<div class="tp-caption large_black sfr tp-resizeme" data-x="830" data-y="250" data-speed="500" data-start="1800" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
</div>
 
<div class="tp-caption line_black tp-fade tp-resizeme" data-x="725" data-y="295" data-speed="300" data-start="2100" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 6">
line
</div>
 
<div class="tp-caption open_white tp-fade tp-resizeme" data-x="640" data-y="310" data-speed="300" data-start="2400" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 7">
The Best Services in Low Cost
</div>
</li>
 
<li data-transition="random" data-slotamount="7" data-masterspeed="300">
 
<img src="images/slider/slide_2_bg.png" alt="slide_2_bg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
 
 
<div class="tp-caption sfb" data-x="610" data-y="17" data-speed="500" data-start="500" data-easing="Cubic.easeInOut" data-endspeed="300" style="z-index: 2">
<img src="images/slider/slide_2_2.png" alt="">
</div>
 
<div class="tp-caption sfb" data-x="491" data-y="170" data-speed="500" data-start="1000" data-easing="Strong.easeInOut" data-endspeed="300" style="z-index: 3">
<img src="images/slider/slide_2_1.png" alt="">
</div>
 
<div class="tp-caption black sfb tp-resizeme" data-x="191" data-y="225" data-speed="300" data-start="1300" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 4">
</div>
 
<div class="tp-caption large_blue sfb tp-resizeme" data-x="81" data-y="250" data-speed="300" data-start="1600" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
vamana Systems Inc
</div>
 
<div class="tp-caption line_black tp-fade tp-resizeme" data-x="224" data-y="301" data-speed="300" data-start="1900" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 6">
Caption Text5
</div>
 
<div class="tp-caption open_white randomrotate tp-resizeme" data-x="160" data-y="318" data-speed="300" data-start="2200" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 7">
One Solution For all Sectors
</div>
</li>
</ul>
<div class="tp-bannertimer"></div>
</div>
</div>
<script type="text/javascript">

    var tpj = jQuery;
    tpj.noConflict();
    var revapi1;

    tpj(document).ready(function() {

        if (tpj('#rev_slider_1_1').revolution == undefined)
            revslider_showDoubleJqueryError('#rev_slider_1_1');
        else
            revapi1 = tpj('#rev_slider_1_1').show().revolution(
				{
				    delay: 9000,
				    startwidth: 1170,
				    startheight: 400,
				    hideThumbs: 200,

				    thumbWidth: 100,
				    thumbHeight: 50,
				    thumbAmount: 3,

				    navigationType: "none",
				    navigationArrows: "solo",
				    navigationStyle: "round",

				    touchenabled: "on",
				    onHoverStop: "on",

				    navigationHAlign: "center",
				    navigationVAlign: "bottom",
				    navigationHOffset: 0,
				    navigationVOffset: 20,

				    soloArrowLeftHalign: "left",
				    soloArrowLeftValign: "center",
				    soloArrowLeftHOffset: 20,
				    soloArrowLeftVOffset: 0,

				    soloArrowRightHalign: "right",
				    soloArrowRightValign: "center",
				    soloArrowRightHOffset: 20,
				    soloArrowRightVOffset: 0,

				    shadow: 0,
				    fullWidth: "on",
				    fullScreen: "off",

				    stopLoop: "off",
				    stopAfterLoops: -1,
				    stopAtSlide: -1,

				    shuffle: "off",

				    hideSliderAtLimit: 0,
				    hideCaptionAtLimit: 0,
				    hideAllCaptionAtLilmit: 0,
				    startWithSlide: 0,
				    videoJsPath: "js/revslider/js/videojs/",
				    fullScreenOffsetContainer: ""
				});

    }); //ready

		</script>
 
</section>
        <div class="container top-30 bottom-30">
            <div class="row">
                <div class="col-md-4 col-lg-4 bottom-xs-30">
                    <div class="servicebox text-center">
                        <div class="servicebox-icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="servicebox-content">
                            <h3 class="bottom-10">
                                Who we are?</h3>
                            <p align="justify">
                                VAMANA is a world IT staffing Partner, we have a tendency to connects the best possible
                                IT professionals to nice opportunities at leading firms and that we know each purpose
                                of your time - for each
                            </p>
                            <div class="icon-action">
                                <a href="about-vamana.html" class="button medium black">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 bottom-xs-30">
                    <div class="servicebox text-center">
                        <div class="servicebox-icon">
                            <i class="fa fa-lightbulb-o"></i>
                        </div>
                        <div class="servicebox-content">
                            <h3 class="bottom-10">
                                What we do?</h3>
                            <p align="justify">
                                Our IT professional’s are screened to fulfil your specific wants - across each talent
                                set and in any discipline. We’ve already sorted through, screened and met with the
                                best available talent - and even some professionals who
                            </p>
                            <div class="icon-action">
                                <a href="What-we-do.html" class="button medium black">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 bottom-xs-30">
                    <div class="servicebox text-center">
                        <div class="servicebox-icon">
                            <i class="fa fa-code"></i>
                        </div>
                        <div class="servicebox-content">
                            <h3 class="bottom-10">
                                Why hire us?</h3>
                            <p align="justify">
                                vamana has the resources you need to plan, develope, implement and manage even the
                                most complex IT initiatives. We help you deploy the right talent and skill sets
                            </p>
                            <div class="icon-action">
                                <a href="why-hire-vamana.html" class="button medium black">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- <div class="callout bottom-30">
                <div class="callout-content clearfix">
                    <div class="callout-text pull-left">
                        <h4 class="bottom-0">
                            Testimonials</h4>
                        <span>Currently we are focusing on IT Development, IT Services and IT Staffing. Our
                            technological expertise, high quality standards, creativity and efficiency are combined
                            in our services to deliver maximum value to our customers.</span>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="section carouselbox" data-margin="0 0 60px">
            <div class="container">
                <div class="divider">
                    <span class="icon"><i class="fa fa-thumbs-up"></i></span>
                </div>
                <div class="text-center bottom-30">
                    <h3 class="bottom-0">
                        Golden Clients</h3>
                    <span></span>
                </div>
                <div class="row cilent-list">
                    <ul class="list-unstyled carousel-area">
                        <li class="text-center">
                            <div class="cilent-item">
                                <img class="img-responsive" src="images/clients/hcl.jpg" alt="HCL">
                            </div>
                        </li>
                        <li class="text-center">
                            <div class="cilent-item">
                                <img class="img-responsive" src="images/clients/ms.jpg" alt="Micro Soft">
                            </div>
                        </li>
                        <li class="text-center">
                            <div class="cilent-item">
                                <img class="img-responsive" src="images/clients/office max.jpg" alt="Office Max">
                            </div>
                        </li>
                        <li class="text-center">
                            <div class="cilent-item">
                                <img class="img-responsive" src="images/clients/tcs.jpg" alt="TCS">
                            </div>
                        </li>                      
                    </ul>
                </div>
                <div class="carousel-nav text-center">
                    <span class="prev"><i class="fa fa-angle-left"></i></span><span class="next"><i class="fa fa-angle-right">
                    </i></span>
                </div>
            </div>
        </div>
        <footer id="footer">
 
<div class="credit">
<div class="container">
<div class="row">
<div class="col-md-6">
<p>© 2014 vamana Systems Inc®, All rights reserved</p>
</div> 
<div class="col-md-6 text-right">
<ul class="list-unstyled bottom-0 links">
<li><a href="about-vamana.html">About US</a></li>
<li><a href="developing.html">Developing</a></li>
<li><a href="staffing-services.html">Staffing</a></li>
<li><a href="contat-vamana.html">Contact Us</a></li>
</ul>
</div>
</div> 
</div>
</div> 
</footer>
        <div id="mobile-menu">
            <span class="menu-content"></span>
        </div>
    </div>

    <script type="text/javascript" src="analytics.js"></script>

    <script src="js/easing.js"></script>

    <script src="js/hoverIntent.js"></script>

    <script src="js/superfish.js"></script>

    <script src="js/bootstrap.js"></script>

    <script src="js/fitvids.js"></script>

    <script src="js/caroufredsel.js"></script>

    <script src="js/magnificpopup.js"></script>

    <script src="js/isotope.js"></script>

    <script src="js/scrollreveal.js"></script>

    <script src="js/nivosliderpack.js"></script>

    <script src="js/easypiechart.js"></script>

    <script src="js/mmenu.js"></script>

    <script src="js/countto.js"></script>

    <script src="js/twitter/tweet.js"></script>

    <script src="js/functions.js"></script>

    <script src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>

    <script src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

</body>
</html>
