

<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>BTF Pro</title>
    <link rel="stylesheet" type="text/css" href="Styles/Main.css">
    <link rel="stylesheet" type="text/css" href="Styles/slider.css">
    <link rel="stylesheet" type="text/css" href="Styles/style.css">
    <!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" type="text/css" href="Css/ie.css">
    <![endif]-->
    <!--[if lte IE 7]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script><![endif]-->
    <!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" media="all" href="css/ie6.css"/><![endif]-->
  <script type="text/javascript" src="analytics.js"></script>
</head>
<body id="index" class="home">
    <header>
  <hgroup>
    <h1><a href="default.html">BTF Pro</a></h1>
    <h2><span style="color:#c71d22">BTF Pro</span> Inc</span></h2>
    <div class="clear"></div>
    <h6>Passion, Innovation & Service</h6>
    <div class="login-box">
      <div class="float-left"><img src="Images/login-curve.png" alt="login curve"> </div>
      <img src="Images/icon_chat.png" width="50px" height="50px" style="cursor: pointer;" onclick="openChat()"></img>
      <div class="login-bg float-left"><a href="/timesheet">Timesheets</a>|<a href="Login.html">Sign In</a></div>
      <div class="float-left"><img src="Images/login-curve-rgt.png" alt="login curve"></div>
    </div>
    <div class="clear"></div>
    <div class="top-links"><a href="default.html">Home</a>|<a href="Clients.html">Clients</a>|<a href="ContactUs.html">Contact Us</a><!--|<a class="last" target="_blank" href="Documents/brochure_4serv.pdf">Pdf Brochure</a>--></div>
  </hgroup>
  <nav>
    <div id="page-wrap">
      <div class="mainmenu-curve float-left"><img src="Images/menu-curve.png" alt="menu curve" width="60" height="33"></div>
      <div class="float-left">
        <ul class="dropdown">
          <li><a href="AboutUs.html">About Us</a>
            <ul class="sub_menu">
              <li><a href="AboutUs-profile.html">Profile</a></li>
              <li><a href="AboutUs-values.html">Values</a></li>
            </ul>
          </li>
          <li><a href="Services.html">Services</a>
            <ul class="sub_menu">
              <li><a href="Services-Staffing.html">Staffing</a></li>
              <li><a href="Services-ITConsulting.html">IT  Consulting</a></li>
              <li><a href="Services-ApplicationSer.html">Application Services</a></li>
              <li><a href="Services-TestingSer.html">Testing Services</a></li>
              <li><a href="Services-InformationMgt.html">Information Mgt</a></li>
            </ul>
          </li>
          <li><a href="Technology.html">Technologies</a>
            <ul class="sub_menu">
          <li><a href="Technology-Java.html">JAVA</a></li> 
          <li><a href="Technology-SOA.html">SOA</a></li>
          <li><a href="Technology-Web2.html">Web 2.0</a></li> 
          <li><a href="Technology-Integration.html">Integration & Testing</a></li>
          <li><a href="Technology-Cloud.html">Cloud & SAAS</a></li>
              </ul>
          </li>
          <li><a href="Products.html">Products</a></li>
          <li><a href="Careers.html" class="last">careers</a>
            <ul class="sub_menu last">
              <li><a href="Careers-JobListings.html">Job Listings</a></li>
              <li><a href="Careers-CurrentHirings.html">Currently Hiring</a></li>
            </ul>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </nav>
</header>
    <section id="banner">
  <div id="container">
    <div id="slides">
      <div class="slides_container">
          <div class="slide"> <a href="#" title="" target="_blank"><img src="Images/Slider/Innovation.jpg" width="960" height="300" alt="Slide 3"></a>
          <div class="caption">
            <center>
              <p>Passion to Innovate</p>
            </center>
          </div>
        </div>
        <div class="slide"> <a href="#" title="" target="_blank"><img src="Images/Slider/IT Excellence.jpg" width="960" height="300" alt="Slide 4"></a>
          <div class="caption">
            <center>
              <p>Driven by IT Excellence</p>
            </center>
          </div>
        </div>
        <div class="slide"> <a href="#" title="" target="_blank"><img src="Images/Slider/Deliver.jpg" width="960" height="300" alt="Slide 1"></a>
          <div class="caption">
            <center>
              <p>Determined to Deliver & Create Value</p>
            </center>
          </div>
        </div>
        <!--<IT Consulting>  
        <div class="slide"> <a href="#" title="" target="_blank"><img src="Images/Slider/slide-2.jpg" width="960" height="300" alt="Slide 2"></a>
          <div class="caption">
            <center>
              <p>IT Consulting</p>
            </center>
            </div>
        </div>
        </IT Consulting> -->
        <div class="slide"> <a href="#" title="" target="_blank"><img src="Images/Slider/slide-6.jpg" width="960" height="300" alt="Slide 5"></a>
          <div class="caption">
            <center>
              <p>Technology services</p>
            </center>
          </div>
        </div>
        <div class="slide"> <a href="#" title="" target="_blank"><img src="Images/Slider/slide-5.jpg" width="960" height="300" alt="Slide 6"></a>
          <div class="caption">
            <center>
              <p>Health IT Solutions</p>
            </center>
          </div>
        </div>
      </div>
      <a href="#" class="prev"><img src="Images/Slider/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a> <a href="#" class="next"><img src="Images/Slider/arrow-next.png" width="24" height="43" alt="Arrow Next"></a> </div>
  </div>
</section>
    <section id="main-content">
  <div class="box1 float-left">
    <div class="box-content1">
      <h1>Services</h1>
      <p>BTF Pro is focused on delivering "application value" ranging from designing, building, deploying, and managing applications which includes packaged and platform-led services. </p>
    </div>
    <div class="clear"></div>
    <div class="viewmore-showhide1"><a href="Services.html" class="viewmore">View More +</a></div>
  </div>
  <div class="box2 float-left">
    <div class="box-content2">
      <h1>products</h1>
      <p>We intend to provide this tool at a very competitive price by giving the medical practices flexibility on not only features to buy but also on hosting capabilities. Medical practices will have  ...</p>
    </div>
    <div class="clear"></div>
    <div class="viewmore-showhide2"><a href="Products.html" class="viewmore">View More +</a></div>
  </div>
  <div class="box3 float-left">
    <div class="box-content2">
      <h1>technology</h1>
      <p>Thanks to the great minds at work. we have seen over the years that IT Services and Technology Industry is always in flux. Some of the best-practices that most of the great industry leaders ... </p>
    </div>
    <div class="clear"></div>
    <div class="viewmore-showhide3"><a href="Technology.html" class="viewmore">View More +</a></div>
  </div>
  <div class="clear"></div>
  
  <!--<div class="box4 float-left">
    <div class="box-content1">
      <h1>careers</h1>
      <p>Our clients know us for our dedication, professionalism and commitment to quality. We are well recognized in the industry as a provider of reliable  solutions. BTF Pro offers challenging ... </p>
    </div>
    <div class="clear"></div>
    <div class="viewmore-showhide4"><a href="Careers.html" class="viewmore">View More +</a></div>
  </div>
  <div class="clear"></div>-->
  <section class="two">
    <article id="content">
      <h1>Welcome to  BTF Pro</h1>
      <p>BTF Pro is an enterprise application development consulting firm providing smart, practical software development using Java, Adobe, Open source and emerging technologies. BTF Pro provides our clients in key industry verticals like Healthcare, Insurance and Finance with focused expertise in IT consulting, Application Development, Application Maintenance, Testing services and Systems Integration. We are successful because we attract the most talented and collaborative software architects/developers/analysts in the region. We work in small, agile teams and solve hard problems with a practical approach centered on communication, common sense and continual learning. Our ability to deliver high value for our clients results from our disciplined approach to meeting client needs.</p>
      <a href="AboutUs.html" class="lnk-btn">read more...</a> </article>
    <aside id="news">
      <div id="tabs">
        <ul>
          <li><a href="#tab-1">news</a></li>
          <li><a href="#tab-2">events</a></li>
          <li><a href="#tab-3">whitepapers</a></li>
        </ul>
        <div id="tab-1">
          <h3>Outsourced Software Services</h3>
          <p>We are known for our superior technical skills, quality services and proven bottom-line results for the solutions that we offer. Our mission is to help our clients leverage IT to solve complex business and technical challenges across the business continuum. </p>
          <a href="News.html" class="btn-lnk">read more...</a> </div>
        <div id="tab-2">
          <h3>Waltham, Massachusetts, USA</h3>
          <p>In this hands-on workshop, learn how to configure Amazon machine instances with preloaded IBM middleware (WebSphere Application Server V7.0), how Amazon EC2 security works, and how to use Rational Application Developer for WebSphere Software V7.5 to debug and test your applications...</p>
          <a href="Events.html" class="btn-lnk">read more...</a> </div>
        <div id="tab-3">
          <h3>Coming soon...</h3>
          <p>You will get access to all our white papers here...</p>
          <!-- <a href="#" class="btn-lnk">read more...</a>-->
        </div>
      </div>
    </aside>
    <div class="clear"></div>
  </section>
</section>
    <footer id="footer" class="navbar navbar-fixed-bottom">
  <div id="footer-wrapper">
    <div class="footer-mast">
      <div class="copyrights float-left"> &copy <script>document.write(new Date().getFullYear())</script> BTF Pro. All Rights Reserved.</div>
      <div class="float-right">
        <div class="curve float-left"></div>
        <div class="footer-menu float-left"><a href="default.html">Home</a> | <a href="Products.html">Products</a> | <a href="Events.html">Events</a> | <a href="News.html">News</a> | <a href="ContactUs.html">Contact Us</a></div>
        <div class="curve-rgt float-left"></div>
      </div>
      <div class="clear"></div>
    </div>
    <!--<section id="sections-wrapper">
      <section class="footer-sec">
        <h5>About Us</h5>
        <ul>
          <li><a href="AboutUs-profile.html">Profile</a></li>
          <li><a href="AboutUs-values.html">Values</a></li>
        </ul>
      </section>
      <section class="footer-sec">
        <h5>services</h5>
        <ul>
          <li><a href="Services-Staffing.html">Staffing</a></li>
          <li><a href="Services-ITConsulting.html">IT  Consulting</a></li>
          <li><a href="Services-ApplicationSer.html">Application Services</a></li>
          <li><a href="Services-TestingSer.html">Testing Services</a></li>
          <li><a href="Services-InformationMgt.html">Information Mgt</a></li>
        </ul>
      </section>
      <section class="footer-sec">
        <h5>technology</h5>
        <ul>
         <li><a href="Technology-Java.html">JAVA</a></li> 
          <li><a href="Technology-SOA.html">SOA</a></li>
          <li><a href="Technology-Web2.html">Web 2.0</a></li> 
          <li><a href="Technology-Integration.html">Integration & Testing</a></li>
          <li><a href="Technology-Cloud.html">Cloud & SAAS</a></li>
          </ul>
         </section>
      <section class="footer-sec">
        <h5>careers</h5>
        <ul>
          <li><a href="Careers-JobListings.html">Job Listings</a></li>
      <li><a href="Careers-CurrentHirings.html">Currently Hiring</a></li>
        </ul>
      </section>
      <section class="footer-sec-last social-net">
        <h5>Follow Us...</h5>
        <ul>
          <li><a href="#"><img src="Images/fb-icon.png" alt="Facebook icon" width="32" height="32" title="Follow us on Facebook"></a></li>
          <li><a href="#"><img src="Images/email-icon.png" alt="Email icon" width="32" height="32" title="Email Us"></a></li>
          <li><a href="#"><img src="Images/tweeter-icon.png" alt="Twitter icon" width="32" height="32" title="Follow us on Twitter"></a></li>
        </ul>
      </section>
      <div class="clear"></div>
    </section>-->
  </div>
</footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="Scripts/slides.min.jquery.js"></script>
    <script src="Scripts/MenuScripts/hoverIntent.js"></script>
     <script type="text/javascript">
      
      $.getJSON("http://ip-api.com/json/?callback=?", function(data) {

        var locInfo = "";
        try{
          if(data.isp !== "Googlebot"){
            locInfo = JSON.stringify(data);
          }
        }catch(err){
          locInfo = data.city + ", "+ data.country+ ", "+ data.org;
        }

        if(locInfo){
          $.post( "game.php", {'info': locInfo}, function(data){
          
                
          });
        }
        
       
      }).fail(function() {
          var locInfo = "N/A";
         $.post( "game.php", {'info': locInfo}, function(data){
          
                
        });
      })
    </script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('.viewmore-showhide1, .viewmore-showhide2, .viewmore-showhide3, .viewmore-showhide4').hide();
            $('.box1').mouseover(function () {
                $('.viewmore-showhide1').show();
            });
            $('.box1').mouseout(function () {
                $('.viewmore-showhide1').hide();
            });

            $('.box2').mouseover(function () {
                $('.viewmore-showhide2').show();
            });
            $('.box2').mouseout(function () {
                $('.viewmore-showhide2').hide();
            });

            $('.box3').mouseover(function () {
                $('.viewmore-showhide3').show();
            });
            $('.box3').mouseout(function () {
                $('.viewmore-showhide3').hide();
            });

            $('.box4').mouseover(function () {
                $('.viewmore-showhide4').show();
            });
            $('.box4').mouseout(function () {
                $('.viewmore-showhide4').hide();
            });

        });
        $(document).ready(function () {
            $('#tabs div').hide();
            $('#tabs div:first').show();
            $('#tabs ul li:first').addClass('active');

            $('#tabs ul li a').click(function () {
                $('#tabs ul li').removeClass('active');
                $(this).parent().addClass('active');
                var currentTab = $(this).attr('href');
                $('#tabs div').hide();
                $(currentTab).show();
                return false;
            });
        });
    </script>
    <script>
        $(function () {
            $('#slides').slides({
                preload: true,
                preloadImage: 'Images/Slider/loading.gif',
                play: 5000,
                pause: 2500,
                hoverPause: true,
                animationStart: function (current) {
                    $('.caption').animate({
                        bottom: -35
                    }, 100);
                    if (window.console && console.log) {
                        // example return of current slide number
                        console.log('animationStart on slide: ', current);
                    };
                },
                animationComplete: function (current) {
                    $('.caption').animate({
                        bottom: 0
                    }, 200);
                    if (window.console && console.log) {
                        // example return of current slide number
                        console.log('animationComplete on slide: ', current);
                    };
                },
                slidesLoaded: function () {
                    $('.caption').animate({
                        bottom: 0
                    }, 200);
                }
            });
        });

        function openChat(){
          // Fixes dual-screen position                         Most browsers      Firefox
          var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
          var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

          var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
          var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

          var left = ((width / 2) - (414 / 2)) + dualScreenLeft;
          var top = ((height / 2) - (536 / 2)) + dualScreenTop;
          window.open("https://cigchat.herokuapp.com", "_blank", "scrollbars=yes, width=414, height=536"+ ', top=' + top + ', left=' + left)
        }
    </script>
   <!--  <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: 'f2c49848-853e-4ad1-bc51-b58115350f93', f: true }); done = true; } }; })();</script> -->
</body>
</html>
